/*especificidad: 001*/
body {
    font: 400 1em Tahoma,sans-serif; 
    line-height: 1.8;
    color: #000000 ;
    background-color: #f7fbfc;
}
/*especifidad: 001*/
h1 {
    font-size: 4em;
    text-transform: uppercase;
    padding: 1.6em 1.6em;
    text-align: center;     
}
/*especifidad: 001*/
h2 {
    text-transform: uppercase;
    padding: 1.6em 1.6em;
    text-align: center;     
}
/*especifidad: 001*/
section {
    padding-right: 5.00em;
    padding-left: 5.00em;
    padding-top: 2.00em;
    padding-bottom: 1.00em;
}
