body {
    font: 400 1em Tahoma,sans-serif; 
    line-height: 1.8;
    color: #000000 ;
    background-color: #a2e4ec;
}
h1 {
    color: #044077;
    font-size: 4em;
    text-transform: uppercase;
    padding: 1.6em 1.6em;
    text-align: center;     
}
h2 {
    color: #075ca1;
    text-transform: uppercase;
    padding: 1.6em 1.6em;
    text-align: center;     
}
h3 {
    color: #075ca1;
    text-transform: uppercase;
    padding: 1.6em 1.6em;
    text-align: center;     
}
h4 {
    color: #075ca1;
    text-transform: uppercase;
    padding: 1.6em 1.6em;
    text-align: center;     
}
p {
  font-size: 1.25em;   
}
table {
    color: #084a96;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    border: 2px solid #921E15 ;
}
th,td{
  color: #000000;
  background-color: #378792 ;
  border: 0.125px solid #000000 ;
}

tr{
  color: #000000;
  background-color: #40647c ;
  border: 0.07em solid #000000 ;
}

img {
  max-width: 100%;
  height: 19em;
  display: block;
  margin: auto;
}

nav {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #D4D3BA;
}
nav a {
  font-size: 1em;
  outline: none;
  text-transform: none;
  transition: all .3s ease;
}

nav li {
  display: block;
  float: left;
  color: #a2e4ec;
  padding-right: 1.00em;
  padding-left: 1.00em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

section {
  padding-right: 5.00em;
  padding-left: 5.00em;
  padding-top: 2.00em;
  padding-bottom: 1.00em;
}

a:link,
a:visited {
  background-color: #D4D3BA;
  color: #353508;
  font: 400  1.25em Tahoma,sans-serif;
}

a:hover,
a:active {
  color: #807B19 ;
  font: 400 1.25em Tahoma,sans-serif;
}

video {
  padding-right: 2.00em;
  padding-left: 5.00em;
  padding-top: 1.00em;
  padding-bottom: 1.00em;
  max-width: 100%;
}

audio {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 45.00em;
  margin-right: 45.00em;
}

footer{
  padding-right: 5.00em;
  padding-left: 5.00em;
  padding-top: 2.00em;
  padding-bottom: 1.00em;
}

footer img{
    max-width: 100%;
    height: 200px;
}

figure{
  padding-right: 5.00em;
  padding-left: 15.00em;
  padding-top: 2.00em;
  padding-bottom: 1.00em;
}

figure figcaption{
    color: #16437e;
    text-transform: uppercase;
    padding: 1.6em 1.6em;
    text-align: center; 
    font-size: 1.25em;
}
cite {
    color:#000000;
    font-size: 1.25em; 
}
ol li {
    color:#000000;
    font-size: 1.25em; 
}

form {
    padding-right: 15.00em;
    padding-left: 15.00em;
    padding-top: 2.00em;
    padding-bottom: 1.00em;
}
form fieldset{
    color: #084a96;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    border: 0.125em solid #921E15 ;
}

form fieldset legend {
    color: #075ca1;
    text-transform: uppercase;
    padding: 0.625em 0.625em;
    text-align: center;    
}

form fieldset label {
    color: #084a96;
    background-color: #a2e4ec;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

form fieldset label input{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}