body {
    display: grid;
    grid-template-rows:
    'header'
    'nav'
    'body';
    grid-gap: 10px;
    padding: 10px;
}

main {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
    padding: 5px;
}
